<div id="scheduled-rentals">
  <h1>Locações Agendadas</h1>
  <% @scheduled_rentals.each do |rental| %>
    <%= render rental %>
  <% end %>
</div>
<div id="active-rentals">
  <h1>Locações em Andamento</h1>
  <% @active_rentals.each do |rental| %>
    <%= render rental %>
  <% end %>
</div>
<div id="maintenance">
  <h1>Carros em manutenção</h1>
  <% @cars_on_maintenance.each do |car|%>
  <div class="row">
    <div class="col-sm">
      <%= render car %>
    </div>
  </div>
  <% end %>
  <%= link_to "Ver todos os carros em manutenção", maintenances_path %>
</div>

