<%= render @maintenance.car %>

<h2>Manutenção Concluída</h2>
<dl class="row">

  <dt class="col-sm-3">Fornecedor</dt>
  <dd class="col-sm-9"><%= @maintenance.provider.name %></dd>

  <dt class="col-sm-3">Nota Fiscal</dt>
  <dd class="col-sm-9"><%= @maintenance.invoice %></dd>

  <dt class="col-sm-3">Valor</dt>
  <dd class="col-sm-9"><%= number_to_currency @maintenance.service_cost %></dd>

  <% if @car.available? %>
    <dd class="col-sm-9">Status: Disponível</dd>
  <% end %>
</dl>
